* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  background-color: #15081A;
  color: #fff;
  font-family: Poppins;
}

nav {
  width: 100%;
  background-color: #1F212C;
}
nav div.logo {
  width: 100%;
  max-width: 450px;
  padding: 25px 25px 20px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}
nav div.logo h1 {
  font-size: 20px;
}
nav div.logo div.menu {
  display: none;
}
nav div.logo div.menu-mobile {
  display: flex;
  gap: 30px;
}
nav div.logo div.menu-mobile .dropdown {
  position: relative;
  display: inline-block;
}
nav div.logo div.menu-mobile .dropbtn {
  background-color: #1F212C;
  color: white;
  font-size: 14px;
  font-family: Poppins, monospace;
  border: none;
  cursor: pointer;
}
nav div.logo div.menu-mobile .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 35px;
  border-radius: 5px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
nav div.logo div.menu-mobile .dropdown-content a {
  color: black;
  padding-left: 5px;
  text-decoration: none;
  display: block;
}
nav div.logo div.menu-mobile .dropdown-content a:hover {
  background-color: #f1f1f1;
}
nav div.logo div.menu-mobile .dropdown:hover .dropdown-content {
  display: block;
}
nav div.logo div.menu-mobile .dropdown:hover .dropbtn {
  background-color: #555;
}

div.menu-mobile-con.active {
  display: block;
  transform: translateX(0);
}

div.menu-mobile-con {
  display: none;
  position: fixed;
  height: 100vh;
  width: 70%;
  top: 0;
  right: 0;
  background-color: #222C3C;
  text-align: center;
  z-index: 5;
  padding-top: 100px;
  border-left: 1px solid gray;
  transform: translateX(100%);
  transition: all 400ms ease;
}
div.menu-mobile-con li {
  list-style: none;
  padding: 12px 0px;
}
div.menu-mobile-con li a {
  text-decoration: none;
  color: #fff;
}

div.search-area {
  width: 100%;
  margin: 25px 0px 5px 0px;
}
div.search-area .search-container {
  position: relative;
  width: 100%;
  max-width: 450px;
  margin: auto;
  padding: 25px 25px 20px 25px;
}
div.search-area .search-container input {
  width: 100%;
  height: 35px;
  padding: 25px;
  border: 2px solid #333;
  border-radius: 20px;
  font-size: 16px;
  outline: none;
  transition: all 0.3s ease;
}
div.search-area .search-container i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
div.search-area #searchIcon-mobile {
  right: 35px;
  color: #333;
}
div.search-area #cancelIcon-mobile {
  right: 35px;
  color: #333;
  display: none;
}
div.search-area .search-container input:focus {
  border-color: #007bff;
}
div.search-area .search-container input:focus + #searchIcon {
  display: none;
}
div.search-area .search-container input:focus + #searchIcon + #cancelIcon {
  display: block;
}

div.over-all {
  width: 100%;
  max-width: 450px;
  padding: 20px 25px;
  margin: auto;
}
div.over-all main.main-layout section.main-con div.first-con {
  border-radius: 10px 10px 0px 0px;
  background-color: #0C111D;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
div.over-all main.main-layout section.main-con div.first-con div.con-details h1 {
  font-size: 28px;
  font-weight: 700;
  padding-bottom: 6px;
}
div.over-all main.main-layout section.main-con div.first-con div.con-details p {
  font-size: 14px;
  font-weight: 500;
  padding-top: 10px;
}
div.over-all main.main-layout section.main-con div.first-con div.con-details h3 {
  font-size: 40px;
  font-weight: 500;
  padding-top: 20px;
}
div.over-all main.main-layout section.main-con div.second-con {
  background-color: #222C3C;
  padding: 20px;
  border-radius: 0px 0px 10px 10px;
}
div.over-all main.main-layout section.main-con div.second-con p {
  font-size: 16px;
  font-weight: 400;
  padding-bottom: 20px;
}
div.over-all main.main-layout section.main-con div.second-con div.conditions {
  display: flex;
  justify-content: space-between;
}
div.over-all main.main-layout section.main-con div.second-con div.conditions div.feel i {
  font-size: 14px;
}
div.over-all main.main-layout section.main-con div.second-con div.conditions div.feel h6 {
  font-weight: 700;
  font-size: 18px;
  padding-top: 5px;
}
div.over-all main.main-layout section.forcast {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 10px;
  background-color: #222C3C;
  padding: 20px;
  margin-top: 40px;
  text-align: center;
}
div.over-all main.main-layout section.forcast h6 {
  font-size: 14px;
}
div.over-all main.main-layout section.forcast div.fc {
  overflow: auto;
  display: flex;
  max-width: 500px;
}
div.over-all main.main-layout section.forcast div.fc div {
  width: 80px;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-right: 1px solid gray;
}
div.over-all main.main-layout section.forcast div.fc div img {
  width: 50px;
  height: 50px;
  margin: 8px 0px;
}
div.over-all main.main-layout section.forcast div.fc div h6 {
  font-size: 14px;
  font-weight: 700;
  padding-bottom: 20px;
}
div.over-all aside.daily-fc {
  margin-top: 40px;
  padding: 20px;
  background-color: #222C3C;
  border-radius: 10px;
}
div.over-all aside.daily-fc div.weather-row {
  display: flex;
  justify-content: space-between;
  padding: 10px 0px;
  border-bottom: 1px solid gray;
}
div.over-all aside.daily-fc div.weather-row div.weather-day {
  max-width: 96px;
  width: 25%;
}
div.over-all aside.daily-fc div.weather-row div.weather-icon {
  max-width: 25%;
}
div.over-all aside.daily-fc div.weather-row div.weather-desc {
  width: 25%;
}
div.over-all aside.daily-fc div.weather-row div.weather-temp {
  max-width: 25%;
}
div.over-all aside.daily-fc div.weather-row div.weather-temp p {
  font-size: 14px;
}

div.chart {
  width: 100%;
  max-width: 450px;
  padding: 20px 25px;
  margin: auto;
}
div.chart div.c-con {
  border-radius: 10px;
  background-color: #222C3C;
  padding: 20px;
}

footer {
  width: 100%;
  background-color: #1F212C;
  padding: 40px 0px;
  margin-top: 30px;
}
footer div.over-all-footer {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
footer div.over-all-footer li {
  list-style: none;
}
footer div.over-all-footer li h6 {
  font-size: 18px;
  font-weight: 500;
  padding-bottom: 20px;
}
footer div.over-all-footer li a {
  text-decoration: none;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
}
footer div.over-all-footer li a:hover {
  cursor: default;
}
footer div.over-all-footer li a.asshole:hover {
  color: #f59a28;
  cursor: pointer;
}
footer div.over-all-footer li p {
  padding-top: 10px;
}
footer div.over-all-footer li div.email-feild {
  width: 250px;
  position: relative;
}
footer div.over-all-footer li div.email-feild input {
  width: 100%;
  z-index: 0;
  border-radius: 5px;
  height: 32px;
}
footer div.over-all-footer li div.email-feild i {
  color: #15081A;
  position: absolute;
  top: 0;
  right: 0;
  padding: 7px;
  border-radius: 0px 5px 5px 0px;
  background-color: #f59a28;
  height: 100%;
  max-height: 30px;
  margin-top: 1px;
}
footer p.footer-end {
  margin-top: 30px;
  padding: 10px;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
}

@media (min-width: 768px) {
  nav div.logo {
    max-width: 1280px;
    padding: 25px 15px;
  }
  nav div.logo div.menu {
    display: inline;
  }
  nav div.logo div.menu ul {
    display: flex;
    gap: 25px;
    list-style: none;
  }
  nav div.logo div.menu ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
  }
  nav div.logo div.menu ul li a:hover {
    color:  #f59a28;
  }
  nav div.logo div.menu ul li .dropdown {
    position: relative;
    display: inline-block;
  }
  nav div.logo div.menu ul li .dropbtn {
    background-color: #1F212C;
    color: white;
    font-size: 14px;
    font-family: Poppins, monospace;
    border: none;
    cursor: pointer;
  }
  nav div.logo div.menu ul li .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 35px;
    border-radius: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  nav div.logo div.menu ul li .dropdown-content a {
    color: black;
    padding-left: 5px;
    text-decoration: none;
    display: block;
  }
  nav div.logo div.menu ul li .dropdown-content a:hover {
    background-color: #f1f1f1;
  }
  nav div.logo div.menu ul li .dropdown:hover .dropdown-content {
    display: block;
  }
  nav div.logo div.menu ul li .dropdown:hover .dropbtn {
    background-color: #555;
  }
  nav div.logo div.menu ul li .search-container {
    position: relative;
    width: 200px;
  }
  nav div.logo div.menu ul li .search-container input {
    width: 100%;
    height: 35px;
    padding: 10px 40px 10px 20px;
    border: 2px solid #333;
    border-radius: 20px;
    font-size: 16px;
    outline: none;
    transition: all 0.3s ease;
  }
  nav div.logo div.menu ul li .search-container i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }
  nav div.logo div.menu ul li #searchIcon {
    right: 10px;
    color: #333;
  }
  nav div.logo div.menu ul li #cancelIcon {
    right: 10px;
    color: #333;
    display: none;
  }
  nav div.logo div.menu ul li .search-container input:focus {
    border-color: #007bff;
  }
  nav div.logo div.menu ul li .search-container input:focus + #searchIcon {
    display: none;
  }
  nav div.logo div.menu ul li .search-container input:focus + #searchIcon + #cancelIcon {
    display: block;
  }
  nav div.logo div.menu-mobile {
    display: none;
  }
  div.search-area {
    display: none;
  }
  div.over-all {
    max-width: 1280px;
    padding: 40px 15px 30px 15px;
    display: flex;
    justify-content: space-between;
    gap: 5px;
    width: 100%;
  }
  div.over-all main.main-layout {
    width: 60%;
  }
  div.over-all main.main-layout section.main-con {
    display: flex;
    gap: 10px;
    justify-content: space-between;
  }
  div.over-all main.main-layout section.main-con div.first-con {
    border-radius: 10px;
    width: 65%;
  }
  div.over-all main.main-layout section.main-con div.first-con div.con-details h1 {
    font-size: 30px;
    padding-bottom: 10px;
  }
  div.over-all main.main-layout section.main-con div.first-con div.con-details p {
    font-size: 16px;
  }
  div.over-all main.main-layout section.main-con div.first-con div.con-details h3 {
    font-size: 45px;
    padding-top: 18px;
  }
  div.over-all main.main-layout section.main-con div.first-con div.con-image img {
    width: 130px;
    height: 130px;
  }
  div.over-all main.main-layout section.main-con div.second-con {
    border-radius: 10px;
    width: 35%;
  }
  div.over-all main.main-layout section.main-con div.second-con p {
    font-size: 12px;
  }
  div.over-all main.main-layout section.main-con div.second-con div.conditions {
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
  }
  div.over-all main.main-layout section.main-con div.second-con div.conditions div.feel i {
    font-size: 12px;
  }
  div.over-all main.main-layout section.main-con div.second-con div.conditions div.feel h6 {
    font-size: 18px;
    padding-top: 0px;
  }
  div.over-all main.main-layout section.forcast {
    text-align: start;
    margin-top: 10px;
  }
  div.over-all main.main-layout section.forcast div.fc {
    max-width: 100%;
  }
  div.over-all main.main-layout section.forcast div.fc div {
    width: 100px;
  }
  div.over-all main.main-layout section.forcast div.fc div h6 {
    font-size: 16px;
  }
  div.over-all aside.daily-fc {
    width: 40%;
    margin-top: 0px;
  }
  div.over-all aside.daily-fc div.weather-row {
    display: flex;
    justify-content: space-evenly;
    height: 70px;
  }
  div.over-all aside.daily-fc div.weather-row div.weather-day p {
    font-size: 14px;
  }
  div.over-all aside.daily-fc div.weather-row div.weather-desc p {
    font-size: 14px;
  }
  div.over-all aside.daily-fc div.weather-row div.weather-temp p {
    font-size: 14px;
  }
  div.chart {
    max-width: 1280px;
    padding: 15px;
  }
  div.chart div.c-con h6 {
    font-size: 14px;
    padding-bottom: 10px;
  }
  div.chart div.c-con div.tc {
    padding: 20px;
    max-width: 1200px;
    height: 275px;
  }
  div.chart div.c-con div.tc canvas {
    width: 100% !important;
    height: 100% !important;
  }
  footer div.over-all-footer {
    text-align: start;
    flex-direction: row;
    justify-content: space-around;
  }
}
@media (min-width: 1024px) {
  nav div.logo {
    padding: 25px 40px;
  }
  nav div.logo div.menu {
    display: inline;
  }
  nav div.logo div.menu ul {
    gap: 50px;
  }
  nav div.logo div.menu ul li a {
    font-size: 16px;
  }
  nav div.logo div.menu ul li .dropbtn {
    font-size: 16px;
  }
  nav div.logo div.menu ul li .search-container {
    width: 300px;
  }
  nav div.logo div.menu-mobile {
    display: none;
  }
  div.search-area {
    display: none;
  }
  div.over-all {
    padding: 30px 40px;
    gap: 25px;
  }
  div.over-all main.main-layout {
    width: 65%;
  }
  div.over-all main.main-layout section.main-con div.first-con div.con-details h1 {
    font-size: 38px;
  }
  div.over-all main.main-layout section.main-con div.first-con div.con-details p {
    font-size: 18px;
  }
  div.over-all main.main-layout section.main-con div.first-con div.con-details h3 {
    font-size: 60px;
    padding-top: 25px;
  }
  div.over-all main.main-layout section.main-con div.first-con div.con-image img {
    width: 200px;
    height: 200px;
  }
  div.over-all main.main-layout section.main-con div.second-con {
    width: 30%;
  }
  div.over-all main.main-layout section.main-con div.second-con div.conditions {
    gap: 40px;
  }
  div.over-all main.main-layout section.main-con div.second-con div.conditions div.feel h6 {
    font-size: 20px;
  }
  div.over-all main.main-layout section.forcast {
    margin-top: 30px;
  }
  div.over-all aside.daily-fc {
    width: 35%;
  }
  div.over-all aside.daily-fc div.weather-row {
    height: 80px;
  }
  div.over-all aside.daily-fc div.weather-row div.weather-day p {
    font-size: 16px;
  }
  div.over-all aside.daily-fc div.weather-row div.weather-desc p {
    font-size: 16px;
  }
  div.over-all aside.daily-fc div.weather-row div.weather-temp p {
    font-size: 16px;
  }
  div.chart {
    padding: 15px 40px;
  }
  div.chart div.c-con div.tc {
    height: 350px;
  }
  div.chart div.c-con div.tc canvas {
    width: 100% !important;
    height: 100% !important;
  }
}/*# sourceMappingURL=main.css.map */