*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body {
    width: 100%;
    background-color: #15081A;
    height: 100vh;
    color: #fff;
    font-family: Poppins;
  }
nav {
    width: 100%;
    background-color: #1F212C;
  }
  nav div.logo {
    width: 100%;
    max-width: 450px;
    padding: 25px 25px 20px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
  }
  nav div.logo h1 {
    font-size: 20px;
  }
  nav div.logo div.menu {
    display: none;
  }

.Contact{
    min-height: 100vh; 
    background-color: 15081A; 
    padding: 50px; 
    
}


.container{
    max-height: 800px; /* Maximum height of the container */
    margin: 0 auto; /* Centers the container horizontally */
}

/* Styling for the h2 element inside the container */
.container h2{
    font-size: 50px; /* Font size */
    margin-bottom: 100px; /* Bottom margin */
    color: white; /* Dark gray color */
}

/* Grid layout for the contact-wrapper */
.contact-wrapper{
    display: grid; /* Using grid layout */
    grid-template-columns: repeat(2, 1fr); /* Two equal columns */
    grid-gap: 30px; /* Gap between grid items */
    text-align: center; /* Center text alignment */
}

/* Styling for the contact-form */
.contact-form{
    text-align: left; /* Left align text */
}

/* Styling for the h3 element inside the contact-form */
.contact-form h3{
    font-size: 30px; /* Font size */
    margin-bottom: 20px; /* Bottom margin */
    color: white; /* Dark gray color */
}

/* Styling for form groups */
.form-group{
    margin-bottom: 20px; /* Bottom margin */
}

/* Styling for input and textarea elements */
input, textarea{
    width: 100%; /* Full width */
    resize: vertical;
    padding: 12px; /* Padding inside the elements */
    border-radius: 8px; /* Rounded corners */
    background-color: white; /* Light gray background color */
    color: #333; /* Dark gray text color */
}

/* Styling for focused input and textarea elements */
input:focus,
textarea:focus{
    outline: none; /* Remove default outline */
    box-shadow: 0 0 8px #333; /* Add box shadow */
}

/* Styling for the button element */
button{
    display: inline-block; /* Inline block element */
    padding: 12px 24px; /* Padding */
    background-color: #f59a28; /* Green background color */
    color: #070707; /* White text color */
    border: none; /* No border */
    cursor: pointer; /* Pointer cursor */
    transition: 0.3s ease; /* Smooth transition */
}

/* Styling for the button element on hover */
button:hover{
    background-color: #fff; /* Green background color */
}
/* Styling for the social media links container */
.social {
    margin: 40px 0px; /* Margin on all sides */
}

/* Styling for icons within the social media links */
.social i {
    color: #fff; /* Brown color (a52a2a) */
    font-size: 30px; /* Font size */
    padding: 0px 10px; /* Padding on left and right */
}

/* Styling for the h3 element inside contact-info */
.contact-info h3{
    font-size: 30px; /* Font size */
    margin-bottom: 30px; /* Bottom margin */
    color: white; /* Dark gray color */
    
}

/* Styling for paragraphs inside contact-info */
.contact-info p{
    margin-bottom: 10px; /* Bottom margin */
    color: white; /* Medium gray text color */
   
}
/* Styling for icons inside contact-info */
.contact-info i{
    color: white; 
    margin-right: 10px; 
}



/* Media query for screens with a max width of 768px */
@media screen and (max-width: 768px){
    .container{
        padding: 20px; /* Reduced padding for small screens */
    }
    .contact-wrapper{
        grid-template-columns: 1fr; /* Single column layout */
    }
}
@media (min-width: 768px){
    nav div.logo {
        max-width: 1280px;
        padding: 25px 40px;
      }
      nav div.logo div.menu {
        display: inline;
      }
      nav div.logo div.menu ul {
        display: flex;
        gap: 50px;
        list-style: none;
      }
      nav div.logo div.menu ul li a {
        text-decoration: none;
        color: #fff;
        font-size: 16px;
        font-weight: 400;
      }
      nav div.logo img {
        display: none;
      }
}
