* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
 
body {
  width: 100%;
  background-color: #15081A;
  color: #fff;
  font-family: Poppins;
}
 
/* Modal styling */
.modal {
  display: none;
  position: absolute;
  top: 80px;
  z-index: 1;
  width: 271px;
  height: 110px;
  background-color: #fff;
  border-radius: 5px;
}
 
.modal-content {
  color: #222C3C;
  padding: 20px;
  text-align: center;
}
 
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  text-decoration: none;
}
 
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
 
nav {
  width: 100%;
  background-color: #1F212C;
}
nav div.logo {
  width: 100%;
  max-width: 450px;
  padding: 25px 25px 20px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}
nav div.logo h1 {
  font-size: 20px;
}
nav div.logo div.menu {
  display: none;
}
 
div.over-all {
  width: 100%;
  max-width: 450px;
  padding: 20px 25px;
  margin: auto;
}
div.over-all main.main-layout section.main-con div.first-con {
  border-radius: 10px 10px 0px 0px;
  background-color: #0C111D;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
div.over-all main.main-layout section.main-con div.second-con {
  background-color: #222C3C;
  padding: 20px;
  border-radius: 0px 0px 10px 10px;
}
div.over-all main.main-layout section.main-con div.second-con div.conditions {
  display: flex;
  justify-content: space-between;
}
div.over-all main.main-layout section.forcast {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 10px;
  background-color: #222C3C;
  padding: 20px;
  margin-top: 40px;
  text-align: center;
}
div.over-all main.main-layout section.forcast div.fc {
  overflow: auto;
  display: flex;
  max-width: 500px;
}
div.over-all main.main-layout section.forcast div.fc div {
  width: 80px;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-right: 1px solid gray;
}
div.over-all main.main-layout section.forcast div.fc div h6 {
  padding-bottom: 20px;
}
div.over-all aside.daily-fc {
  margin-top: 40px;
  padding: 20px;
  background-color: #222C3C;
  border-radius: 10px;
}
div.over-all aside.daily-fc div.weather-row {
  display: flex;
  justify-content: space-between;
  padding: 10px 0px;
  border-bottom: 1px solid gray;
}
 
footer {
  width: 100%;
  background-color: #1F212C;
}
footer p {
  padding: 10px;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
}
 
@media (min-width: 768px) {
  /* Modal styling */
  .modal {
    left: 40vw;
  }
  nav div.logo {
    max-width: 1280px;
    padding: 25px 40px;
  }
  nav div.logo div.menu {
    display: inline;
  }
  nav div.logo div.menu ul {
    display: flex;
    gap: 50px;
    list-style: none;
  }
  nav div.logo div.menu ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
  }
  nav div.logo div.menu ul li a:hover {
    color: #fff700;
  }
  nav div.logo div.menu ul li .dropdown {
    position: relative;
    display: inline-block;
  }
  nav div.logo div.menu ul li .dropbtn {
    background-color: #2dd486;
    color: rgb(209, 63, 63);
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  nav div.logo div.menu ul li .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 35px;
    border-radius: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  nav div.logo div.menu ul li .dropdown-content a {
    color: black;
    padding-left: 5px;
    text-decoration: none;
    display: block;
  }
  nav div.logo div.menu ul li .dropdown-content a:hover {
    background-color: #f1f1f1;
  }
  nav div.logo div.menu ul li .dropdown:hover .dropdown-content {
    display: block;
  }
  nav div.logo div.menu ul li .dropdown:hover .dropbtn {
    background-color: #555;
  }
  nav div.logo div.menu ul li .search-container {
    position: relative;
    width: 300px;
  }
  nav div.logo div.menu ul li .search-container input {
    width: 100%;
    height: 35px;
    padding: 10px 40px 10px 20px;
    border: 2px solid #333;
    border-radius: 20px;
    font-size: 16px;
    outline: none;
    transition: all 0.3s ease;
  }
  nav div.logo div.menu ul li .search-container i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }
  nav div.logo div.menu ul li #searchIcon {
    right: 10px;
    color: #333;
  }
  nav div.logo div.menu ul li #cancelIcon {
    right: 10px;
    color: #333;
    display: none;
  }
  nav div.logo div.menu ul li .search-container input:focus {
    border-color: #007bff;
  }
  nav div.logo div.menu ul li .search-container input:focus + #searchIcon {
    display: none;
  }
  nav div.logo div.menu ul li .search-container input:focus + #searchIcon + #cancelIcon {
    display: block;
  }
  nav div.logo img {
    display: none;
  }
  div.over-all {
    max-width: 1280px;
    padding: 30px 40px;
    display: flex;
    justify-content: space-between;
    gap: 25px;
    width: 100%;
  }
  div.over-all main.main-layout {
    width: 65%;
  }
  div.over-all main.main-layout section.main-con {
    display: flex;
    gap: 10px;
    justify-content: space-between;
  }
  div.over-all main.main-layout section.main-con div.first-con {
    border-radius: 10px;
    width: 65%;
  }
  div.over-all main.main-layout section.main-con div.first-con div.con-details h1 {
    font-size: 38px;
    font-weight: 700;
    padding-bottom: 20px;
  }
  div.over-all main.main-layout section.main-con div.first-con div.con-details p {
    font-size: 18px;
    font-weight: 400;
  }
  div.over-all main.main-layout section.main-con div.first-con div.con-details h3 {
    font-size: 60px;
    font-weight: 500;
    padding-top: 35px;
  }
  div.over-all main.main-layout section.main-con div.first-con div.con-image img {
    width: 200px;
    height: 200px;
  }
  div.over-all main.main-layout section.main-con div.second-con {
    border-radius: 10px;
    width: 30%;
  }
  div.over-all main.main-layout section.main-con div.second-con p {
    font-size: 12px;
    font-weight: 400;
    padding-bottom: 20px;
  }
  div.over-all main.main-layout section.main-con div.second-con div.conditions {
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
  }
  div.over-all main.main-layout section.main-con div.second-con div.conditions div.feel i {
    font-size: 12px;
  }
  div.over-all main.main-layout section.main-con div.second-con div.conditions div.feel h6 {
    font-size: 20px;
    font-weight: 700;
  }
  div.over-all main.main-layout section.forcast {
    text-align: start;
    margin-top: 30px;
  }
  div.over-all main.main-layout section.forcast h6 {
    font-size: 14px;
  }
  div.over-all main.main-layout section.forcast div.fc {
    max-width: 100%;
  }
  div.over-all main.main-layout section.forcast div.fc div {
    width: 100px;
  }
  div.over-all main.main-layout section.forcast div.fc div img {
    width: 50px;
    height: 50px;
    margin: 8px 0px;
  }
  div.over-all main.main-layout section.forcast div.fc div h6 {
    font-size: 16px;
    font-weight: 700;
  }
  div.over-all aside.daily-fc {
    width: 35%;
    margin-top: 0px;
  }
  div.over-all aside.daily-fc div.weather-row {
    display: flex;
    justify-content: space-evenly;
    height: 80px;
  }
  div.over-all aside.daily-fc div.weather-row div.weather-day {
    max-width: 96px;
    width: 25%;
  }
  div.over-all aside.daily-fc div.weather-row div.weather-icon {
    max-width: 25%;
  }
  div.over-all aside.daily-fc div.weather-row div.weather-desc {
    width: 25%;
  }
  div.over-all aside.daily-fc div.weather-row div.weather-temp {
    max-width: 25%;
  }
  footer {
    position: absolute;
    bottom: 0px;
  }
}/*# sourceMappingURL=main.css.map */